<!-- views/pages/transactions/trans_details.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <p><%= tagline %></p>
            <ul class="list-group">
              <li class="list-group-item">Transaction ID: <%= transId %></li>
              <li class="list-group-item">Amount: <%= amount %></li>
              <li class="list-group-item">Payment Method: <%= paymentType %></li>
              <li class="list-group-item">Status: <%= status %></li>
              <li class="list-group-item">Transaction Type: <%= type %></li>
            </ul>
            <form id="void" method="post" action="/transactions/void">
                <input type="hidden" name="transId" value="<%= transId %>">
			    <p><input type="submit" class="btn btn-primary" id="btnVoid" value="Void"></p>
			</form>
			<form id="refund" method="post" action="/transactions/refund">
                <input type="hidden" name="transId" value="<%= transId %>">
			    <p><input type="submit" class="btn btn-primary" id="btnRefund" value="Refund" disabled></p>
			</form>
			<form id="clone" method="post" action="/transactions/clone">
                <input type="hidden" name="transId" value="<%= transId %>">
			    <p><input type="submit" class="btn btn-primary" value="Clone"></p>
			</form>
			<form id="settle" method="post" action="/transactions/settle">
                <input type="hidden" name="transId" value="<%= transId %>">
			    <p><input type="submit" class="btn btn-primary" id="btnSettle" value="Submit for Settlement" disabled></p>
			</form>
        </div>
    </main>
    <script>
        <% if ( status  == "settled") { %>
            document.getElementById("btnVoid").disabled=true;
            document.getElementById("btnRefund").disabled=false;
        <% } %>
        <% if ( status == "authorized" ) { %>
            document.getElementById("btnSettle").disabled=false;
        <% } %>
        window.onload = function(){
            mixpanel.track("Transactions Details Page");  
        }
    </script>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>